pandas==2.3.2
numpy==1.26.4
scipy==1.13.1
joblib==1.5.2
nltk==3.9.1
scikit-learn==1.7.2
gensim==4.3.3
sentence-transformers==5.1.0
torch==2.2.2
streamlit==1.49.1
plotly==6.3.0
matplotlib==3.10.6
seaborn==0.13.2s